<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aohbmp"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    
  
  <!-- 定义使用C3P0连接池的数据源 -->
  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"> 
    <!-- 指定驱动 -->
    <property name="driverClass">
    	<value>com.mysql.jdbc.Driver</value>
    </property>
     
    <!--连接数据库URL -->
    <property name="jdbcUrl">
    	<value>jdbc:mysql://localhost:3306/mycontest?useUnicode=true&amp;characterEncoding=utf-8</value>
    </property>
    
    <!-- 用户名 -->
    <property name="user"><value>root</value></property>
    
    <!-- 密码 -->
    <property name="password"><value>root</value></property>    
   
  </bean>

  <!-- 会话配置 -->
  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    <!-- 依赖上面注入的数据源 -->
    <property name="dataSource" ref="dataSource"></property>
    

    
    <!-- 注册Hibernate的ORM配置文件 -->    
    <property name="mappingDirectoryLocations">
	    <list>
	    	<value>classpath:/cn/edu/xmut/MyContest/model</value>   
	    </list>
    </property>
    
    <!-- 配置Hibernate的方言和数据库表创建方式 -->   
    <property name="hibernateProperties">
	    <props>
		    <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
		    <prop key="hibernate.hbm2ddl.auto">update</prop>
		    <prop key="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</prop>	
		    <prop key="javax.persistence.validation.mode">none</prop>	    
	    </props>
    </property>
  </bean>
    
    <!-- 事务管理配置 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!--
		业务类声明式事务管理配模板,需要使用事务管理业务服务对象,直接继承此Bean[即配置parent属性为此bean的id],方便统一配置
	-->
	<bean id="baseTransactionProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<!-- 指明进行事务管理业务方法名[*是通配符] -->
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="edit*">PROPAGATION_REQUIRED</prop>
				<prop key="del*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean id="adminAction" class="cn.edu.xmut.MyContest.action.AdminAction" >
	   <property name="adminService" ref="adminService" />
	   <property name="queryService" ref="queryService" />
	</bean>	

	<bean id="loginAction" class="cn.edu.xmut.MyContest.action.LoginAction" >
	   <property name="loginService" ref="loginService" />
	</bean>	
	
	<bean id="jFreeChartAwardAction" class="cn.edu.xmut.MyContest.component.JFreeChartAwardAction" >
	   <property name="queryService" ref="queryService" />
	</bean>	
	
	<bean id="jFreeChartScopeAction" class="cn.edu.xmut.MyContest.component.JFreeChartScopeAction" >
	   <property name="queryService" ref="queryService" />
	</bean>		
		
    <!-- 查询Action -->
	<bean id="queryAction" class="cn.edu.xmut.MyContest.action.QueryAction" >
	   <property name="queryService" ref="queryService" />
	</bean>	
	
	<bean id="teacherAction" class="cn.edu.xmut.MyContest.action.TeacherAction" >
	   <property name="queryService" ref="queryService" />
	   <property name="teacherService" ref="teacherService" />
	</bean>		

	<bean id="Dao" class="cn.edu.xmut.MyContest.Dao.Dao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="adminService" class="cn.edu.xmut.MyContest.serviceimpl.AdminServiceImpl">
		<property name="dao">
			<ref bean="Dao" />
		</property>
	</bean>			
	
	<bean id="loginService" class="cn.edu.xmut.MyContest.serviceimpl.LoginServiceImpl">
		<property name="dao">
			<ref bean="Dao" />
		</property>
	</bean>			
   
	<!-- 查询服务[进行事务控制] -->
	<bean id="queryService" class="cn.edu.xmut.MyContest.serviceimpl.QueryServiceImpl">
		<property name="dao">
			<ref bean="Dao" />
		</property>
	</bean>	
	
	<bean id="teacherService" class="cn.edu.xmut.MyContest.serviceimpl.TeacherServiceImpl">
		<property name="dao">
			<ref bean="Dao" />
		</property>
	</bean>		
</beans>